/* BILLETS */

.news{
	margin: 50px auto;
	width: 75%;
	max-width: 850px;
	height: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #FFF;
	background-color: #EEE;
}

.news h3{
	border-radius: 5px 5px 0 0;
	padding-top: 20px;
	text-decoration: underline;
	flex: 0.5;
	font-weight: bold;
	background-color: rgba(117, 60, 20);
}

.creation_date{
	background-color: rgba(117, 60, 20);
	padding-bottom: 20px;
	flex: 0.5;
	border-bottom: 2px solid rgba(117, 60, 20);
}

.news p{
	padding: 15px 5px;
	flex: 2;
	color: rgba(117, 60, 20);
}

.news a{
	background-color: rgba(117, 60, 20);
	padding: 15px 0;
	flex: 0.75;
	border-top: 2px solid rgba(117, 60, 20);
	border-radius: 0 0 5px 5px;
}

.news a:hover{
	text-decoration: underline;
}

/* postView */

h2{
	width: 50%;
	text-align: center;
	margin: 50px auto;
	padding: 15px;
	font-size: 1.5em;
	border: 1px solid #FFF;
	background-color: rgb(117, 60, 20);
	border-radius: 3px;
}

#comments{
	height: auto;
	width: 75%;
	border: 1px solid #FFF;
	border-radius: 3px;
	margin: 0 auto;
	padding: 15px;
	margin-bottom: 50px;
}

#comments p{
	padding-top: 10px;
}

#comments a{
	padding-bottom: 10px;
}

#comments a:hover{
	text-decoration: underline;
}

#formAddComment{
	margin: 0 auto 50px auto;
	width: 60%;
	text-align: center;
}

#formAddComment div:first-child{
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

#author{
	margin-left: 5px;
	color: rgb(117, 60, 20);
}

#comment{
	margin-top: 10px;
	width: 75%;
	height: 100px;
	border-radius: 3px;
	padding: 5px;
	color: rgb(117, 60, 20);
}

#formAddComment div:nth-child(2){
	padding-bottom: 25px;
}

#formAddComment div:last-child input{
	padding: 5px;
	border-radius: 3px;
	color: rgb(117, 60, 20);
}

@media all and (max-width: 410px){
	#formAddComment div:first-child{
		display: flex;
		flex-direction: column;
	}

	#formAddComment input{
		width: 80%;
		margin: 0 auto;
	}

	#formAddComment textarea{
		width: 90%;
	}
}